In [14]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key

from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DF

city_data_df = pd.read_csv("weather_data/cities.csv")

In [16]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-01-30 17:25:32,71.9167,114.0833,-18.44,100,100,2.91
1,1,Hithadhoo,MV,2022-01-30 17:25:32,-0.6000,73.0833,82.27,68,100,8.34
2,2,Rikitea,PF,2022-01-30 17:25:33,-23.1203,-134.9692,76.23,60,63,4.32
3,3,Riyadh,SA,2022-01-30 17:24:39,24.6877,46.7219,60.94,36,0,10.18
4,4,Yar-Sale,RU,2022-01-30 17:25:35,66.8333,70.8333,-2.56,97,100,8.46

In [17]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [19]:
# Assign the locations to an array of latitude and longitude pairs

locations = [latitude, longitude]

# Assign the weights variable to some values

temperatures = # an array of lengh equal to the locations array lengh

# Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure()

# Assign the heatmap_layer variable to the heatmap_layer attribute

heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# Add the heatmap layer
fig.add_layer(heatmap_layer)

# Call the figure to plot the data
fig

SyntaxError: invalid syntax (4172370648.py, line 7)

In [20]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2022-01-30 17:25:32,-0.6000,73.0833,82.27,68,100,8.34
2,2,Rikitea,PF,2022-01-30 17:25:33,-23.1203,-134.9692,76.23,60,63,4.32
6,6,Puerto Ayora,EC,2022-01-30 17:25:36,-0.7393,-90.3518,82.36,71,100,9.46
8,8,Isabela,PH,2022-01-30 17:25:36,6.7085,121.9711,78.03,84,60,2.51
11,11,Caravelas,BR,2022-01-30 17:25:38,-17.7125,-39.2481,87.22,61,87,12.86

In [32]:
preferred_cities_df.count()

City_ID       154
City          154
Country       152
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [33]:
preferred_cities_df = preferred_cities_df.dropna()

In [34]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [35]:
# Create a DF called hotel_df to store hotel names along with city country max temp and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

            City Country  Max Temp      Lat       Lng Hotel Name
1      Hithadhoo      MV     82.27  -0.6000   73.0833
2        Rikitea      PF     76.23 -23.1203 -134.9692
6   Puerto Ayora      EC     82.36  -0.7393  -90.3518
8        Isabela      PH     78.03   6.7085  121.9711
11     Caravelas      BR     87.22 -17.7125  -39.2481

In [36]:
# Set parameters to searchfor a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DF

for index, row in hotel_df.iterrows():
    # Get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data frmo the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    # Adding try:except block for any errors encountered, if exp more errors add them after IndexError
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.27,-0.6000,73.0833,Scoop Guest House
2,Rikitea,PF,76.23,-23.1203,-134.9692,People ThankYou
6,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Isabela,PH,78.03,6.7085,121.9711,Isawad Resort
11,Caravelas,BR,87.22,-17.7125,-39.2481,Pousada dos Navegantes
19,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
20,Kulhudhuffushi,MV,81.30,6.6221,73.0700,Haajy Guest House 1
24,Cambe,BR,79.48,-23.2758,-51.2783,Hotel Solarium Express
27,Weligama,LK,77.58,5.9667,80.4167,Weligama Bay Resort
28,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [47]:
# Adding the info box that will go on the heatmap in a cell before the heatmap

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Adding marker layer # Adding info box content
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))